.classes{
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.classes-h1{
    font-size: 2em;
    font-weight: 500;
    position: relative;
    margin: 0 auto;
    padding: 2em 0 0 0;
    text-align: center;
    color: #4b4b4b;
}
.classes-flexbox{
    position: relative;
    width: 95%;
    max-width: 1200px;
    height: auto;
    padding: 0;
    margin: 3em auto 4em auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}
.classes-box{
    position: relative;
    align-items: center;
    width: 30%;
    height: 20em;
    margin: 1em auto;
    padding: 0;
    border-radius: 3px;
    background-image: url(../images/yoga-image2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    .classes-title{
        font-size: 1.5em;
        font-weight: 300;
        text-align: center;
        color: #f3f3f3;
        padding: 0.5em 0;
        margin: 0;
        display: block;
        position: relative;
        width: 100%;
        z-index: 3;
    }
    p{
        font-size: 1em;
        line-height: 1.5em;
        padding: 0;
        margin: 1em;
        font-weight: 200;
        color: #4b4b4b;
    }
}
.classes-box:hover .box-desc{
    transform: translateY(0%);
}
.box-desc{
    font-size: 1.2em;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    color: #f3f3f3;
    background: rgba(79, 94, 193, 0.7);
    left: 0;
    right: 0;
    top: 2em;
    padding: 7em 0 0 0;
    transform: translateY(150%);
    transition: all ease-in-out 250ms;
}
.view-more-button{
    display: inline-block;
    min-width: 7.5em;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    font-weight: 100;    
    cursor: pointer;
    color: #f3f3f3;
    background: none;
    padding: 0.5em 0.3em;
    border: 2px solid #f3f3f3;
    border-radius: 30px;
    transition: 0.3s ease-in;
    background: #3a3a3a;
    &:hover{
        color: #181818;
        background: #f3f3f3;
        border-color: #3a3a3a;
        font-weight: 300;
    }
}

.yoga-mummys{
    background-image: url(../images/yoga-image2.jpg);
}
.yoga-therapy{
    background-image: url(../images/yoga-image3.jpg);
}
.restorative-yoga{
    background-image: url(../images/yoga-image1.jpg);
}


// MODALS
.modal{
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f3f3f3;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
    margin: 0 auto;
    &.is-open{
        display: block;
    }
    h1{
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
        margin: 2em 33%;
        padding: 0.5em 0;
        border-top: 5px solid #4F5EC1;
        border-bottom: 5px solid #4F5EC1;
        color: rgba(146, 65, 168, 1);
    }
    p{
        font-size: 1.1em;
        padding: 0 10%;
        margin: 0 auto 4em auto;
        text-align: center;
        font-weight: 200;
        max-width: 1000px;
    }
    h2{
        font-size: 2em;
        text-align: center;
        padding: 0.2em 0;
        margin: 1em auto;
        color: rgba(146, 65, 168, 1);
        width: 10em;
        //text-shadow: 2px 0px 10px #181818;
        font-weight: 200;
        border-top: 3px solid #4F5EC1;
        border-bottom: 3px solid #4F5EC1;
        //background: rgba(146, 65, 168, 0.7);
    }
}
.yoga-icon-b,
.yoga-icon-p{
    width: 128px;
    height: 128px;
    margin: 2em auto;
    padding: 0;
    background-image: url(../images/mat-icon-b.png);
    background-size: 128px 128px;
    background-repeat: no-repeat;
    background-position: center;
}
.yoga-icon-p{
    background-image: url(../images/mat-icon-p.png);
}
.testimonial{
    width: 100%;
    max-width: 1000px;
    height: auto;
    min-height: 30em;
    margin: 0 auto;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        color: #f3f3f3;
        background: rgba(146, 65, 168, 0.85);
        font-weight: 300;
        font-size: 1.1em;
        padding: 2em 3em;
        margin: 2em auto;
        max-width: 500px;
        line-height: 1.8em;
    }
}
.modal-close{
    position: absolute;
    right: 0;
    padding: 0 2em 0 0;
    top: 1.4em;
    width: 40px;
    height: 40px;
    background-image: url(../images/close.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    &:hover{
        cursor: pointer;
    }
}

.blue{
    background: rgba(146, 65, 168, 1);
}
.purple{
    background: rgba(79, 94, 193, 1);
}
.blue-bg{
    background: rgba(79, 94, 193, 0.7);
}
.purple-bg{
    background: rgba(146, 65, 168, 0.7);
}

.hatha-bg{
    background-image: url(../images/hatha-yoga.png);
}

.mummys-bg{
    background-image: url(../images/yoga-image2.jpg);
}
.younger-bg{
    background-image: url(../images/younger-bg.jpg);
}
.gentle-bg,
.gentle-yoga{
    background-image: url(../images/gentle-yoga.jpg);
}
.therapy-bg{
    background-image: url(../images/yoga-image3.jpg);
}
.restorative-bg{
    background-image: url(../images/yoga-image1.jpg);
}

@media (max-width:1000px){
    .modal{
        h1{
            margin: 2em 20%;
        }
    }
    .classes-box{
        width: 45%;
        align-items: flex-start;
    }
}

@media (max-width: 680px){
    .classes-flexbox{
        width: 100%;
    }
    .classes-box{
        width: 47.5%;
        height: 20em;
    }
    .view-more-button{
        font-size: 1em;
    }
}
@media (max-width: 620px){
    .classes-h1{
        font-size: 1.5em;
    }
    .classes-box{
        width: 100%;
        margin: 0;
        height: 21em;
        .classes-title{
            font-size: 1.5em;
        }
    }
    .box-desc{
        top: 2em;
    }
    .modal{
        h1{
            font-size: 1.2em;
            margin: 2em 15%;
            padding: 0.3em 0;
        }
        p{
            font-size: 1em;
            padding: 1em 5%;
        }
        h2{
            font-size: 1.5em;
            font-size: 500;
        }
    }
    .testimonial{
        //height: auto;
        //padding: 2em;
        p{
            margin: 0 auto;
            font-size: 1em;
        }
    }
    .modal-close{
        height: 32px;
        width: 32px;
        background-size: 32px 32px;
    }
}

